html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
/*  min-height: 100%;*/
}

body {
    margin-bottom: 60px;
}

.main {
    /* height: 100vh;*/ /* 100% of the viewport height */
}

/*----------- Preview Part -----------*/

.link-preview {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 600px;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
}

.link-preview img {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 15px;
}

.link-content {
    display: flex;
    flex-direction: column;
}

.link-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.link-description {
    font-size: 14px;
    color: #666;
}

.NewsLetter_heading {
    max-width: 600px;
    color: #A9A9A9;
    font-weight: bold;
    margin-left:20px;
}



/*-------- Subscription Part------- #f5f5f5*/

.newsletter-section {
    padding: 20px;
    background-color: #3B5998;
    border-radius: 5px;
    color: white;
    max-width: 600px;
}

/*
A Flexible Layout must have a parent element with the display property set to flex.
Direct child elements(s) of the flexible container automatically becomes flexible items.
Here, Parent: subscribe-container, Child: subscribe-input, subscribe-button
*/


.subscribe-container {
    display: flex;
    margin-top: 10px;
}

.subscribe-input {
   /* flex: 1;*/ /* This means the item will grow to fill the available space equally */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    width:350px;
}

.subscribe-button {
    padding: 8px;
    background-color: #9400D3;
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-inline-start: 10px;
    font-weight: bold;
}

.subscribe-button:hover {
    background-color: #357ABD; 
}
